.header_div p 
{
    font-size: 12px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;

    background-color: #029797;
    color: azure;
    width: 100%;
    line-height: 2;
    font-size: 12px;
    margin-bottom: 20px;
}

.header_div
{
    background-color: #029797;
    color: rgb(1, 108, 99);
}

body
{
    background-color: #008080;
    font-family: 'Poppins', sans-serif;
}

.main_div button{
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    width: 130px;
    font-weight: bolder;
    border: none;
    height: 5%;
    background-color: #008080;
    font-weight: bolder;
    cursor: pointer;
}

button:hover {
    border: 3px dashed black;
    font-size: 20px;
    letter-spacing: 2.5px;
    text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 20px #82bedc, 0 0 30px #82bedc, 0 0 40px #82bedc, 0 0 50px #82bedc, 0 0 60px #82bedc, 0 0 3px #82bedc, 0 0 3px #82bedc;
}

#listen {
    border: 5px dashed rgb(28, 51, 78);
}

#footer_1 {
    color: rgb(1, 9, 29);
    font-size: 18px;
    text-align: center;
    text-shadow: 5px 4px 4px rgb(13, 25, 45);
    background-color: cadetblue;
    text-shadow: 6px;
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 3;
    letter-spacing: 2px;
}